.speaker-title {
    margin: 1em 2em 1em 2em;
}

.speaker-card {
    margin: 1em 2em 2em 2em;
}

@media only screen and (max-width: 600px) {
    .speaker-card {
        margin: 1em 0.5em 1em 0.5em;
    }
}
