.card__top, .card__bottom, .card__back {
width: 1em;
}

.flip-countdown-title {
    font-family: 'Russo One', sans-serif;
    color: #D6D6D6;
}

.flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__top, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__bottom, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__back::before, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__back::after{
    background: #4A5D6D;
}
.flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__top{
    border-bottom: 1px solid #4A5D6D;
}
