.fc-timegrid-col-events{
    width: 100%;
}
.fc{
    margin: 0 0.5rem 2rem 0.5rem;
    font-family: 'Russo One', sans-serif;
}
.fc-theme-standard td{
    border: 1px solid #080808;
}
.fc-theme-standard .fc-scrollgrid{
    border-color: #080808;
}
