.fc-timegrid-col-events{
    width: 100%;
}
.fc{
    margin: 0 0.5rem 2rem 0.5rem;
    font-family: 'Russo One', sans-serif;
}
.fc-theme-standard td{
    border: 1px solid #CCCCCC;
}
.fc-theme-standard .fc-scrollgrid{
    border-color: #CCCCCC;
}
.fc-toolbar-title{
    color: #D6D6D6;
    text-align: center;
}
.fc-timegrid-slot{
    color: #D6D6D6;
}
@media only screen and (max-width: 480px) {
    .fc-event-title{
        font-size: 0.6rem;
    }
}
@media only screen and (max-width: 410px) {
    .fc-event-title{
        font-size: 0.53rem;
    }
}
