/* .nav-link:hover{
    color: $yellow;
}
.nav-link.active{
    color: $yellow;
}
.nav-link:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 $yellow;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.nav-link:hover:after{
    width: 100%;
} */
.MuiInputBase-root{
    font-family: 'Russo One', sans-serif !important;
}

