.video-js .vjs-big-play-button{
    background-color: rgba(220, 170, 4, 0.7) !important;
    border: 0.06666em solid #080808 !important;
}
.vjs-control-bar{
    color: #DCAA04;
}
.video-js .vjs-load-progress{
    color: #080808;
}
.vjs-progress-holder .vjs-slider .vjs-slider-horizontal{
    color: #080808;
    background-color: #080808;
}
.video-js .vjs-play-progress{
    background: #080808 !important;
}
.vjs-time-tooltip{
    background-color: rgba(8,8,8, 0.7) !important;
    color: #f5f5f5 !important;
}
