.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.App-logo {
  margin-top: 5rem;
  margin-left: 1.5rem;
  pointer-events: none;
  width: 80%;
  display: flex;
}
.bannerGridRight{
  margin-top: 5rem !important;
}
.bannerButtonContainer{
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 900px) {
  .App-logo{
    margin-top: 2.5rem;
  }
  .bannerGridRight{
    margin-top: 2.5rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .App-logo{
    margin-top: 1.5rem;
    margin-left: 0;
    display: inline;
  }
  .bannerGridRight{
    margin-top: 1rem !important;
  }
  .bannerButtonContainer{
    justify-content: center;
    margin-left: 0;
  }
}
.button{
  width: 8rem !important;
  display: inline-block !important;
  text-decoration: none !important;
  border: 3px solid rgb(214, 214, 214) !important;
  border-radius: 32px !important;
  color: #080808 !important;
  padding: 6px 8px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  text-align: center !important;
  user-select: none !important;
  cursor: pointer !important;
  margin: 12px 0px !important;
  transition: all 200ms ease-in-out 0s !important;
  background-color: #DCAA04 !important;
}
.button:hover{
  color: rgb(0, 0, 0) !important;
  border-color: #CCCCCC !important;
  background-color: #B48B04 !important;
}

.landingPageText {
  padding: 1rem;
  background-color: rgba(173,168,167,0.5);
}
