html {
  height: 100vh !important;
}
body {
  min-height: 100vh;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li { list-style: none; }



.Link  {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding: 15px !important;


}

.Link:hover {
  background-color: rgba(240, 248, 255, 0.25) !important;
}


.App-header {
  font-family: Roboto !important;
}

.video {
  width: 50% !important;
}
